.header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4342427a;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 5px 12px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 12px 0px rgba(255, 255, 255, 0.2);
}

.theme {
  margin-right: 15px;
}
.theme:hover {
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout:hover {
  cursor: pointer;
}
